<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <fastCgi>
      <application fullPath="C:\Program Files\Python36\python.exe" arguments="C:\Program Files\Python36\Lib\site-packages\wfastcgi.py">
        <environmentVariables>
          <environmentVariable name="WSGI_HANDLER" value="app.app" />
          <environmentVariable name="PYTHONPATH" value="C:\inetpub\wwwroot\FRS_backend_mob" />
        </environmentVariables>
      </application>
    </fastCgi>
        <handlers>
            <add name="FlaskHandler1" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\Python36\python.exe|&quot;C:\inetpub\wwwroot\FRS_backend_mob\wfastcgi.py&quot;" resourceType="Unspecified" />
        </handlers>
  </system.webServer>
</configuration>


 